# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Environment variables
! .env.example  # Exceção: Muitas vezes, .env.example é usado como template.
.env
.env.*

# IDE/Editor
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Node.js (if applicable)
node_modules/

# Fuzzing/Invariant Testing
cache/invariant/
cache/fuzz/

# Coverage Reports
coverage/

# Test results
test-results.xml

